<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!-- c3p0가 전에 사용하던 dataSource 보다 메모리 관리가 잘되며, 보안성이 좋다 -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="minimumIdle" value="5" />
		<property name="maximumPoolSize" value="20" />
		<property name="connectionTestQuery" value="SELECT NOW()" />
	</bean>
</beans>

